
/**********************/
/*                    */
/*        LOOT        */
/*         &          */
/*       CRAFT        */
/*                    */
/**********************/


@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);


html, body, h1, h2, h3, h4, h5, h6, p, .btn, .navbar-nav a, .form-control, .list-inline, small, #pricing {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 55px;
  line-height: 55px;
  letter-spacing: -1px;
  color: #333;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.5px;
  color: #333;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #333;
  font-weight: 700;
}

p {
  font-size: 17px;
  line-height: 22px;
  color: #333;
  font-weight: 400;
}

/*****************/
/*   BACKGROUND  */
/*****************/

.bg-inspiration{
	background-color: rgba(191, 221, 229, 1) !important; /*bleu*/
}
.color-inspiration{
	color: rgba(191, 221, 229, 1) !important;
}

.bg-object{
	background-color: rgba(195, 176, 164, 1) !important; /*marron*/
	/*background-color: rgba(207, 193, 184, 1);*/
}

.color-object{
	color: rgba(195, 176, 164, 1) !important;
}

.bg-tutoriel{
	background: rgba(190, 184, 211, 1) !important; /*violet*/
}

.color-tutoriel{
	color: rgba(190, 184, 211, 1) !important;
}

.bg-bonplans{
	background: rgba(230, 198, 129, 1) !important; /*jaune*/
}

.color-bonplans{
	color: rgba(230, 198, 129, 1) !important;
}

.bg-forum{
	background: rgba(149, 186, 144, 1) !important; /*vert*/
}

.color-forum{
	color: rgba(149, 186, 144, 1) !important;
}

.bg-contact{
	background: rgba(238, 151, 142, 1) !important; /*rouge*/
}

.color-contact{
	color: rgba(238, 151, 142, 1) !important;
}

#main-container{
	display: none;
}

/***************/
/*  UTILITIES  */
/***************/


a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  color: #333;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

::selection {
	background: #333; /* Safari */
	color: #FFFFFF;
}
::-moz-selection {
	background: #333; /* Firefox */
	color: #FFFFFF;
}


/* NAV */

#nav {
	padding: 1em 6em;
	/*padding: 15px 50px;*/
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    text-align: center;
    z-index: 12;
}

#nav.open{
	height: auto;
	position: relative;
}

#nav.open .nav-footer, #nav.open .nav-menu{
	display: block;
	margin: 1em auto 2em auto;
	overflow: auto;
}

#nav p {
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-weight: 800;
    letter-spacing: 1px;
}

#nav a{
	font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

#nav.open p{
	font-size: 1.3em;
	padding: 0.5em 0;
	display: block;
	width: 100%;
}

#nav img{
	width: 2em;
	height: auto;
}

#nav .nav-footer{
	display: none;
}

#nav-bottom{
	position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em 6em;
    width: 100%;
    background: #fff;
    text-align: center;
    z-index: 2;
}

#nav-bottom p {
    font-size: 0.9em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 100;
}


.nav-slide{
	width: 3.5em;
    background: #FFF;
    height: 100%;
    position: fixed;
    z-index: 1;
}

 
#nav-left{
    left: 0;
}

#nav-right{
	right: 0;
}

#nav-left .home{
    position: fixed;
    width: 3.5em;
    display: block;
    margin-bottom: 3.7em;
    bottom: 0;
}

#nav-left .home img{
    width: 90%;
    display: block;
    margin: auto;
}

#nav-right .social{
	position: fixed;
    bottom: 0;
    margin-bottom: 4em;
}

#nav-right .social img{
    width: 80%;
    display: block;
    margin: auto;
}

#nav .nav-home{
	display: none;
	margin: 4em auto 0 auto;
}

#nav .nav-home img{
	width: 5em;
	height: auto;
}

#nav.open .nav-home{
	display: block;
}

#nav .nav-menu ul.navbar-nav{
	width: 100%;
	list-style: none;
	padding: 0;
}

#nav .nav-menu ul.navbar-nav li{
	width: 13.5%;
}

#nav .nav-menu ul.navbar-nav li a{
	padding: 0;
	font-weight: 600;
	font-size: 0.8em;
}

#nav .nav-menu ul.navbar-nav li.navbar-brand-link{
	width: 18.5%;
}

#nav .nav-menu ul.navbar-nav li.navbar-brand-link a.navbar-brand-logo{
	width: 100%;
	font-size: 1.3em;
	margin: 0 auto;
	text-align: center;
}

#nav.open .nav-menu ul.navbar-nav li.navbar-brand-link{
	display: none;
}

#nav.open .nav-menu ul.navbar-nav{
	margin: 0 auto;
    width: 100%;
}

#nav.open .nav-menu ul.navbar-nav li{
    width: 100%;
    margin: 0 auto;
    font-size: 1.3em;
    color: #333;
    padding: 0.5em 0;
}

#nav .nav-icon .logo{
	display: inline-block;
    float: left;
    height: 24px;
}

#nav .nav-icon .logo a{
	font-size: 1.5em;
    color: #333;
}

@media (max-width: 992px){
	.nav-slide, #nav-bottom {
	    display: none;
	}
	#nav .nav-menu{
		display: none;
	}
}

@media (max-height: 370px){
	.nav-slide, #nav-bottom {
	    display: none;
	}
	#nav .nav-menu{
		display: none;
	}
	#nav .nav-icon{
		display: block !important;
	}
}

@media (min-width: 992px){
	#nav .nav-icon{
	    display: none;
	}
}

#main-container{
	background-color: #F2F2F2;
	height: auto;
}

#main-container.home{
	background-image: url('../img/bg.jpg');
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#main-container #home-wrapper{
	padding: 3em;
}

#main-container #home-wrapper img{
	position: absolute;
	width: 200px;
	top:50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px
}

#main-container #page-wrapper{
	padding: 3em 2.5em;
}


#main-container #page-wrapper .header-letter, #main-container #page-wrapper .header-title, #page-wrapper .header-object-subpage{
	padding: 1em;
}

#main-container #page-wrapper .header-object{
	padding: 0 1em 0 0;
}

#main-container #page-wrapper .header-title{
	width: 100%;
	margin: 0 auto;
}


#main-container #page-wrapper .header-letter h1{
	text-align: center;
    font-size: 14em;
    padding: 0.2em 0 0.6em 0;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
}

form .subscription{
	float: none;
	margin: 1em auto;
}

form .subscription input{
	margin-bottom: 1em;
}

#main-container #page-wrapper .header-title h1.newsletter-title{
	font-size: 7em;
	line-height: 1em;
	margin: 1em auto 0 auto;
}

@media (max-width: 650px){
	#main-container #page-wrapper .header-title h1.newsletter-title{
		font-size: 4em;
	}
}

#page-wrapper .header-object-subpage h1{
	color: #fff;
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
	font-weight: 200;
	padding: 0.3em 0 0 0;
	margin: 0;
	text-shadow: none;
}

#main-container #page-wrapper .header-title h1{
	text-align: center;
    font-size: 4em;
    font-family: 'Playfair Display', serif;
    padding: 0.2em 0.3em 0.6em 0.3em; 
}

#main-container #page-wrapper .header-title h1.talk:before{
	content: open-quote;
	display: block;
	text-align: left;
}

#main-container #page-wrapper .header-title h1.talk:after{
	content: close-quote;
	display: block;
	text-align: right;
	margin-top: 0.5em;
}


#main-container #page-wrapper .header-title p.talk-tuto{
	font-family: 'Nunito', sans-serif;
	text-align: center;
}

#main-container #page-wrapper .header-title p.talk-tuto a{
	display: block;
}

#main-container #page-wrapper .header-object h1{
	text-align: center;
    font-size: 14em;
    font-family: 'Playfair Display', serif;
    line-height: 1em;
}

#main-container #page-wrapper .header-object h1:after{
	/*height: 0.05em;
    display: block;
    width: 1em;
    background: #333555;
    content: '';*/
}

#main-container #page-wrapper .header-object p{
	font-size: 1em;
    margin-top: 3em;
    text-align: justify;
    font-family: 'Playfair Display', serif;
}

@media (max-width: 992px){
	#main-container #page-wrapper .header-object h1{
	    text-align: center;
	}
	#main-container #page-wrapper .header-object h1:after{
		margin: auto;
	}

}

#main-container #page-wrapper .header-letter p, #main-container #page-wrapper .header-title p{
	text-align: justify;
	font-size: 1em;
	font-family: 'Playfair Display', serif;
}

#main-container #page-wrapper .header-letter .intro, #main-container #page-wrapper .header-title .intro{
	width: 80%;
	margin: 2em auto;
	display: block;
}

@media (max-width: 650px){
	#main-container #page-wrapper .header-letter .intro, #main-container #page-wrapper .header-title .intro{
		width: 100%;
	}
}

.connect{
	margin: 1em auto;
	display: block;
	border-top: 0.5em solid #333;
}

.connect.header{
	width: 80%;
}

.connect.page{
	width: 100%;
}

.connect h3{
	text-align: center;
	font-weight: 700 !important;
	text-transform: uppercase;
}

form.contact-us div.form-group input.form-control{
	border: 1px solid #ccc !important;
}

form.contact-us div.form-group input{
	margin-bottom: 3.3em;
}

.connect form{
	text-align: center;
	margin: 1em auto;
}

.connect button.btn{
	margin: 0 auto;
}

.connect p.subscribe:before {
    content: "> ";
    font-weight: 800;
}

.connect p.forget-pwd {
    text-align: right !important;
}

.connect p.forget-pwd:after {
    content: " <";
    font-weight: 800;
}

@media (max-width: 992px){
	.connect p.subscribe, .connect p.forget-pwd{
		text-align: center !important;
	}
}

#main-container #page-wrapper .header-letter .connect p{
	font-family: 'Nunito', sans-serif;
}

#main-container #page-wrapper .page-nav{
	background: #333;
	padding: 1em 4em;
	overflow: hidden;
}


#main-container #page-wrapper .page-nav input#copyTarget{
	position: absolute;
    z-index: -999999;
    left: -99999px;
    opacity: 0;
}

#main-container #page-wrapper .page-nav .nav p{
	color: #fff;
	margin: 0;
    font-size: 1em;
    font-weight: 100;
    line-height: 2.25em;
    letter-spacing: 1px;
}

#main-container #page-wrapper .page-nav .nav a:hover, #main-container #page-wrapper .page-nav .nav a:focus{
	color: #fff;
}

#main-container #page-wrapper .page-nav .links{
	text-align: right;
}

#main-container #page-wrapper .page-nav .links a{
	outline: none;
}

#main-container #page-wrapper .page-nav .links img{
	width: 2em;
	height: auto;
	margin: 0 0.5em;
}


#main-container #page-wrapper .page-content{
	padding: 1em 4em;
}

#main-container #page-wrapper .page-content .container.fail{
	    margin: 5em 0;
}

#main-container #page-wrapper .page-content .container.fail .fail-message span{
	font-size: 1.2em;
    font-weight: 100;
    text-transform: uppercase;	
}

#main-container #page-wrapper .page-content p, #main-container #page-wrapper .page-content h3, #main-container #page-wrapper .page-content h4, #main-container #page-wrapper form{
	font-size: .9em;
    font-weight: 100;
    letter-spacing: 1px;
}

@media (max-width: 992px){
	#main-container #page-wrapper .page-content{
		padding: 1em 1em;
	}
}

#main-container #page-wrapper .page-content .people{
	display: block;
	margin: 0 auto 3em auto;
}

#main-container #page-wrapper .page-content .people:nth-child(2n){
	float: right;
}

#main-container #page-wrapper .page-content .people img{
	padding: 0;
	margin: 0 auto 1em auto;
	float: left;
	border-right: 1em solid #333;
}

#main-container #page-wrapper .page-content .people:nth-child(2n) img{
	border-right: 0;
	border-left: 1em solid #333;
	float: right;
}

#main-container #page-wrapper .page-content .people:nth-child(2n) .info {
	text-align: right;
}

#main-container #page-wrapper .page-content .people h3{
	font-size: 2em;
	margin-bottom: 1em;	
}

#main-container #page-wrapper .page-content .people p{
	margin-bottom: 1em;	
}


#main-container #page-wrapper .header-object-subpage{
	padding: 0;
}

#main-container #page-wrapper .page-content.object-alphabet{
	padding: 0em 1em;
}

#main-container #page-wrapper .page-content.object-alphabet a p{
	color: #fff;
    text-transform: uppercase;
    text-align: center;
}

#main-container #page-wrapper .page-content .aplhabet{
    height: 100vh;
    overflow: scroll;
    display: inline-block;
    position: fixed;
    background: #333;
    padding: 4em 1em 7em 1em;
    margin-top: -4em;
}

#main-container #page-wrapper .page-content .dico{
    float: right;
}

#main-container #page-wrapper .page-content .dico .letter{
    margin: 4em 20em 6em 0;
}

#main-container #page-wrapper .page-content .dico .letter h4{
    font-size: 6em;
    font-family: 'Playfair Display', serif;
    padding-bottom: 0.2em;
}

#main-container #page-wrapper .page-content .dico .letter p{
    margin-left: 6em;
}

@media (max-width: 992px){
	#main-container #page-wrapper .page-content.object-alphabet{
		padding: 0;
	}
	#main-container #page-wrapper .page-content .aplhabet{
		margin-top: -4.4em;
	}
}

@media (max-width: 700px){
	#main-container #page-wrapper .page-content .dico .letter{
		margin: 4em 10em 6em 0;
	}
}

@media (max-width: 400px){
	#main-container #page-wrapper .page-content .dico .letter{
		margin: 4em 5em 6em 0;
	}
}

#main-container #page-wrapper .page-content h2.title-page-content{
	padding: 1em 0;
	font-family: 'Playfair Display', serif;
	font-size: 3em;
	letter-spacing: 2px;
}

#main-container #page-wrapper .page-content h2.title-page-content:after{
	height: 0.1em;
    display: block;
    width: 3em;
    background: #333;
    content: '';
    margin-top: 0.3em;
}

#main-container #page-wrapper .page-content .list .ligne, #main-container #page-wrapper .page-content .list .actu{
	width: 100%;
	clear: both;
    margin-bottom: 0em;
}


#main-container #page-wrapper .page-content .list .actu{
	display: block;
	border-left: 1em solid rgba(230, 198, 129, 1);
	padding: 0.5em 1em;
	margin: 1em auto;
}

#main-container #page-wrapper .page-content .list .actu h4{
	color: #333;
    font-size: 1em;
    font-weight: 400;
}

#main-container #page-wrapper .page-content .list .actu h4 span{
	font-weight: 600;
	text-transform: uppercase;
}

@media (max-width: 600px){
	#main-container #page-wrapper .page-content .list .actu h4 span{
		display: block;
		margin-bottom: 0.5em;
	}
}

#main-container #page-wrapper .page-content .list .actu h4 span:after{
	content: ' - ';
    padding: 0 1em;
}

#main-container #page-wrapper .page-content .list .ligne .content p span.likes:before{
	content: url('../img/react/like.svg');
}

#main-container #page-wrapper .page-content .list .ligne .content p span.dislikes:before{
	content: url('../img/react/dislike.svg');
}

#main-container #page-wrapper .page-content .list .actu p{
	font-style: italic;
    font-size: 0.9em;
    text-align: justify;
}

#main-container #page-wrapper .page-content .list .ligne .cross{
	width: 5%;
    margin: 0;
    display: inline-block;
}

#main-container #page-wrapper .page-content .list .ligne:hover .cross-icon-inner {
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}

#main-container #page-wrapper .page-content .list .ligne:hover .cross-icon-inner::before {
  opacity: 0;
}

.cross-icon {
  float: left;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
 }

.cross-icon-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.cross-icon-inner{
  display: block;
  top: 50%;
  margin-top: -2px;
}

.cross-icon-inner, .cross-icon-inner::before, .cross-icon-inner::after{
  width: 30px;
  height: 3px;
  background-color: #333;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  
  -webkit-transition: all 0.15s ease;                  
  -moz-transition: all 0.15s ease;                 
  -o-transition: all 0.15s ease;   
  -ms-transition: all 0.15s ease;          
  transition: all 0.15s ease;
}

.cross-icon-green .cross-icon-inner, .cross-icon-green .cross-icon-inner::before, .cross-icon-green .cross-icon-inner::after{
	background: rgba(149, 186, 144, 1) !important;
}

.cross-icon-yellow .cross-icon-inner, .cross-icon-yellow .cross-icon-inner::before, .cross-icon-yellow .cross-icon-inner::after{
	background: rgba(230, 198, 129, 1) !important;
}

.cross-icon-marron .cross-icon-inner, .cross-icon-marron .cross-icon-inner::before, .cross-icon-marron .cross-icon-inner::after{
	background: rgba(195, 176, 164, 1) !important;
}

.cross-icon-inner::before, .cross-inner::after {
  content: "";
  display: block;
}
.cross-icon-inner::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

#main-container #page-wrapper .page-content .list .ligne .cross img{
	width: 50%;
	height: auto;
}

#main-container #page-wrapper .page-content .list .ligne .content{
	width: 94%;
	float: right;
	display: inline-block;
}

#main-container #page-wrapper .page-content .list .ligne .content{
	/*border-bottom: 0.2em solid #333;*/
	display: inline-block;
}

#main-container #page-wrapper .page-content .ligne .content hr{
	height: 6px;
    margin: 0;
    width: 100%;
    border: 0;
}

#main-container #page-wrapper .page-content .ligne .content hr.separator-green{
	background: url('../img/separator/hr-green.png') repeat-x 0 0;
}

#main-container #page-wrapper .page-content .ligne .content hr.separator-yellow{
	background: url('../img/separator/hr-yellow.png') repeat-x 0 0;
}

#main-container #page-wrapper .page-content .ligne .content hr.separator-marron{
	background: url('../img/separator/hr-marron.png') repeat-x 0 0;
}

#main-container #page-wrapper .page-content .ligne .content hr.separator-wave-green{
	background: url('../img/separator/hr-wave-green.png') repeat-x 0 0;
}

#main-container #page-wrapper .page-content .list .ligne .content p:first-child{
	display: inline-block;
}

#main-container #page-wrapper .page-content .list .ligne .content p:nth-child(2){
	display: inline-block;
	float: right;
}

#main-container #page-wrapper .page-content .list .ligne .content p span{
	padding-left: 1em;
	font-style: italic;
	font-size: 0.8em;
}

#main-container #page-wrapper .page-content .list .ligne .content p span:before{
	content: " - ";
	padding-right: 1em;
}

#main-container #page-wrapper h1.pad, #main-container #page-wrapper p.pad{
	padding: 1em 0;
}

#main-container #page-wrapper .page-content.start-talk p, #main-container #page-wrapper .page-content.start-talk form{
	margin: 2em auto;
}

#main-container #page-wrapper .page-content .comments{
    margin: 4em auto;
}

#main-container #page-wrapper .page-content .comments .comment{
	width: 100%;
    margin: 2em auto;
}

#main-container #page-wrapper .page-content .comments .comment .user .open-talk{
	width: 5%;
    margin: 0;
    display: inline-block;
}

#main-container #page-wrapper .page-content .comments .comment .user .open-talk img{
	width: 50%;
	height: auto;
}

#main-container #page-wrapper .page-content .comments .comment .user .content{
	width: 94%;
	display: inline-block;
}

#main-container #page-wrapper .page-content .comments .comment .user .content{
	display: inline-block;
}

#main-container #page-wrapper .page-content .comments .comment .user .content p:first-child{
	display: inline-block;
}

#main-container #page-wrapper .page-content .comments .comment .user .content p:nth-child(2){
	display: inline-block;
	float: right;
}

#main-container #page-wrapper .page-content .comments .comment .text{
	margin-left: 5%;
    padding: 1em;
    background: #E8E8E8;
    border-top: 0.2em solid #333;
}

#main-container #page-wrapper .page-content .comments .comment .text p{
	font-size: 1em;
}

#main-container #page-wrapper .page-content .cat{
	margin: 0em auto 1em auto;
}

#main-container #page-wrapper .page-content .cat .description{
	margin: 0em auto;
	display: block;
}

#main-container #page-wrapper .page-content .cat .description.more{
	margin: 1em auto 0 auto;
}

#main-container #page-wrapper .page-content .cat .description p{
	text-align: justify;
	font-size: 1em;
}

#main-container #page-wrapper .page-content .cat .description p:first-child, #main-container #page-wrapper .page-content .cat .description ul:first-child{
	padding-left: 0;
}

#main-container #page-wrapper .page-content .cat .description p:nth-child(2), #main-container #page-wrapper .page-content .cat .description ul:nth-child(2){
	padding-right: 0;
}

#main-container #page-wrapper .page-content .cat .description.more span{
	font-weight: 700;
}

#main-container #page-wrapper .page-content .cat .description.more progress {
    display: inline-block;
    margin-left: 1em;
    border: 0 none;
    background: #DEDEDE;
    border-radius: 0;
}
#main-container #page-wrapper .page-content .cat .description.more progress::-moz-progress-bar{
   background: #9b9b9b;
   border-radius: 0;
}
#main-container #page-wrapper .page-content .cat .description.more progress::-webkit-progress-bar {
   background: transparent;
}

#main-container #page-wrapper .page-content .cat .description.more progress::-webkit-progress-value {  
   background: #9b9b9b;
   border-radius: 0;
} 

#main-container #page-wrapper .page-content .cat .description ul {
   list-style-type: none;
}
#main-container #page-wrapper .page-content .cat .description ul li:before {
   content: '- ';
}

#main-container #page-wrapper .page-content .cat .etape{
	margin-bottom: 2em;
}

#main-container #page-wrapper .page-content .cat .etape:nth-child(2n) .header p{
	float: right;
	text-align: right;
}

#main-container #page-wrapper .page-content .cat .etape .header{
	background: #333;
	margin: 0 auto 1em auto;
}

#main-container #page-wrapper .page-content .cat .etape .header p{
	margin: 1em auto 0 auto;
	color: #333;
}

#main-container #page-wrapper #objects-skroll-bg{
	background:url('../img/alphabet/scroll-bg.png');
	background-attachment: scroll;
	background-repeat: repeat-y;
	background-size: contain;
}

#main-container #page-wrapper .page-content #objects-search{
	padding-bottom: 50vh;
}

#main-container #page-wrapper .page-content #objects-search img.keyboard{
	text-align: center;
	margin: 4em auto;
	float: none;
}

#main-container #page-wrapper .page-content #objects-search form{
	text-align: center;
	margin: 2em auto 4em auto;
}


#main-container #page-wrapper .page-content #objects-search form fieldset{
	width: 100%;
	margin: 0 auto;
}

#main-container #page-wrapper .page-content #objects-search form fieldset input{
	background: none !important;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-weight: 100;
	color: #333;
	font-size: 2em;
}

#main-container #page-wrapper .page-content #objects-search form fieldset input::-webkit-input-placeholder{
	color: #333;
}
#main-container #page-wrapper .page-content #objects-search form fieldset input:-moz-placeholder{
	color: #333;
}
#main-container #page-wrapper .page-content #objects-search form fieldset input::-moz-placeholder{
	color: #333;
}
#main-container #page-wrapper .page-content #objects-search form fieldset input:-ms-input-placeholder{
	color: #333;
}

@media (max-width: 780px){
	#main-container #page-wrapper .page-content #objects-search form fieldset input{
		font-size: 1em;
	}

}

#main-container #page-wrapper .page-content .cat .etape .header p span:first-child{
	font-size: 5em;
    display: block;
    line-height: 1em;
    font-family: 'Playfair Display', serif;
}

#main-container #page-wrapper .page-content .cat .etape .header p span:first-child::after{
	content: ' /';
	margin-left: 0.5em;
}

#main-container #page-wrapper .page-content .cat .etape .header p span:nth-child(2){
	font-size: 2em;
    margin-top: 0.5em;
    display: block;
    line-height: 1em;
}

#main-container #page-wrapper .page-content .cat .etape .header img{
	background: #F2F2F2;
	padding: 0;
}

#main-container #page-wrapper .page-content .cat .etape .text p{
	font-size: 1em;
	text-align: justify;
}

#main-container #page-wrapper .page-content .mosaic div{
    margin: 0 auto 1em auto;
}

#main-container #page-wrapper .page-content .mosaic div img{
	width: 100%;
}


#main-container #page-wrapper .page-content .mosaic div a .text{
    margin: 0;
    padding: 0.5em;
    height: 6em;
    display: table;
    width: 100%;
    border-left: 0.3em solid #333;
}

#main-container #page-wrapper .page-content .mosaic div a .text h4{
    font-size: 1.2em;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    font-weight: 400;
}

#main-container #page-wrapper .page-content .mosaic div a .text h4 span.description{
    display: block;
    font-size: 0.8em;
    font-weight: 100;
}

#main-container #page-wrapper .page-content .mosaic div a .text p{
    font-size: 1em;
}

#main-container #page-wrapper .page-content .more .link .content{
	padding: 1em;
	margin: 1em auto;
}

#main-container #page-wrapper .page-content .more .link .content p, #main-container #page-wrapper .page-content .more .link .content h3{
	color: #333;
}

#main-container #page-wrapper .page-content .more .link .content p{
	margin-top: 2em;
	font-size: 1em;
}

#main-container #page-wrapper .page-content .more .link .content h3{
	font-size: 2em;
}

#main-container #page-wrapper .page-content .more .link .content h3:before{
	height: 0.1em;
    display: block;
    width: 3em;
    background: #333;
    content: '';
    margin-bottom: 0.3em;
}

#main-container #page-wrapper .page-content .more .link .content .cross{
	text-align: right;
}

#main-container #page-wrapper .page-content .more .link .content .cross img{
	width: 2em;
    height: auto;
}

#main-container #page-wrapper .cat-object{
	height: 50vh;
    position: relative;
}

#main-container #page-wrapper .cat-object h2{
	text-transform: uppercase;
    font-weight: 100;
    font-size: 2.5em;
}

.vertical-align-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
}

.vertical-align-wrap .vertical-align{
	text-align: center;
    display: table-cell;
}

.vertical-align--middle {
    vertical-align: middle;
}

.vertical-align--top {
    vertical-align: top;
}

.vertical-align--bottom {
    vertical-align: bottom;
}

#main-container #page-wrapper .cat-object .vertical-align-wrap .vertical-align--middle h2{
	color: #333;
}

#main-container #page-wrapper .cat-object .vertical-align-wrap .vertical-align--middle p{
    color: #555;
}

#main-container footer{
	padding: 1em 4em;
	background: #333;
	text-align: center;
	font-size: 1em;
	border-bottom: 4em solid #fff;
}

#main-container footer ul:first-child{
	margin-top: 4em;
	padding: 1em;
	border-top: 0.5em solid #fff;
}

#main-container footer ul li{
	padding: 0.2em 0;
	color: #fff;
	text-transform: uppercase;
	font-weight: 100;
}

#main-container footer ul li a:hover{
	color: #fff;
}

#main-container footer ul.list-unstyled ul{
	list-style: none;
}

#main-container footer .more{
	margin: 1em auto;
}

#main-container footer .more a{
	display: block;
	width: 100%;
	padding: 1em 0;
	background: #fff;
	color: #333;
	text-transform: uppercase;
	font-weight: 100;
}

#main-container footer .more a:hover{
	color: #333;
}

@media (max-width: 992px){
	#main-container #page-wrapper {
	    padding: 4em 0em;
	}
	#main-container #page-wrapper .page-nav .nav p, #main-container #page-wrapper .page-nav .links{
	    text-align: center;
	}
	#main-container #page-wrapper .page-nav .nav p, #main-container #page-wrapper .page-nav .links img{
		margin: 0.5em 0.5em;
	}
	
	#main-container footer div.col-md-6:nth-child(2) ul.list-unstyled{
		border-top: 0;
		margin: 0 auto 4em auto;
		padding: 0 1em;
	}
	#main-container footer{
		border-bottom: 0;
		padding: 1em;
	}
}

.row{
	margin: 0;
}

@media (max-width: 700px){
	.cross-icon{
		display: none;
	}
	#main-container #page-wrapper .page-content .list .ligne .content{
		width: 100%;
		float: none;
	}
}